.board
    .row
        .grid.non-step(data-row='0', data-col='0') 5
        .grid.non-step(data-row='0', data-col='1') 3
        .grid(data-row='0', data-col='2')
            input.step
        .grid.non-step(data-row='1', data-col='0') 6
        .grid(data-row='1', data-col='1')
            input.step
        .grid(data-row='1', data-col='2')
            input.step
        .grid(data-row='2', data-col='0')
            input.step
        .grid.non-step(data-row='2', data-col='1') 9
        .grid.non-step(data-row='2', data-col='2') 8
    .row
        .grid(data-row='0', data-col='3')
            input.step
        .grid.non-step(data-row='0', data-col='4') 7
        .grid(data-row='0', data-col='5')
            input.step
        .grid.non-step(data-row='1', data-col='3') 1
        .grid.non-step(data-row='1', data-col='4') 9
        .grid.non-step(data-row='1', data-col='5') 5
        .grid(data-row='2', data-col='3')
            input.step
        .grid(data-row='2', data-col='4')
            input.step
        .grid(data-row='2', data-col='5')
            input.step
    .row
        .grid(data-row='0', data-col='6')
            input.step
        .grid(data-row='0', data-col='7')
            input.step
        .grid(data-row='0', data-col='8')
            input.step
        .grid(data-row='1', data-col='6')
            input.step
        .grid(data-row='1', data-col='7')
            input.step
        .grid(data-row='1', data-col='8')
            input.step
        .grid(data-row='2', data-col='6')
            input.step
        .grid.non-step(data-row='2', data-col='7') 6
        .grid(data-row='2', data-col='8')
            input.step
    .row
        .grid.non-step(data-row='3', data-col='0') 8
        .grid(data-row='3', data-col='1')
            input.step
        .grid(data-row='3', data-col='2')
            input.step
        .grid.non-step(data-row='4', data-col='0') 4
        .grid(data-row='4', data-col='1')
            input.step
        .grid(data-row='4', data-col='2')
            input.step
        .grid.non-step(data-row='5', data-col='0') 7
        .grid(data-row='5', data-col='1')
            input.step
        .grid(data-row='5', data-col='2')
            input.step
    .row
        .grid(data-row='3', data-col='3')
            input.step
        .grid.non-step(data-row='3', data-col='4') 6
        .grid(data-row='3', data-col='5')
            input.step
        .grid.non-step(data-row='4', data-col='3') 8
        .grid(data-row='4', data-col='4')
            input.step
        .grid.non-step(data-row='4', data-col='5') 3
        .grid(data-row='5', data-col='3')
            input.step
        .grid.non-step(data-row='5', data-col='4') 2
        .grid(data-row='5', data-col='5')
            input.step
    .row
        .grid(data-row='3', data-col='6')
            input.step
        .grid(data-row='3', data-col='7')
            input.step
        .grid.non-step(data-row='3', data-col='8') 3
        .grid(data-row='4', data-col='6')
            input.step
        .grid(data-row='4', data-col='7')
            input.step
        .grid.non-step(data-row='4', data-col='8') 1
        .grid(data-row='5', data-col='6')
            input.step
        .grid(data-row='5', data-col='7')
            input.step
        .grid.non-step(data-row='5', data-col='8') 6
    .row
        .grid(data-row='6', data-col='0')
            input.step
        .grid.non-step(data-row='6', data-col='1') 6
        .grid(data-row='6', data-col='2')
            input.step
        .grid(data-row='7', data-col='0')
            input.step
        .grid(data-row='7', data-col='1')
            input.step
        .grid(data-row='7', data-col='2')
            input.step
        .grid(data-row='8', data-col='0')
            input.step
        .grid(data-row='8', data-col='1')
            input.step
        .grid(data-row='8', data-col='2')
            input.step
    .row
        .grid(data-row='6', data-col='3')
            input.step
        .grid(data-row='6', data-col='4')
            input.step
        .grid(data-row='6', data-col='5')
            input.step
        .grid.non-step(data-row='7', data-col='3') 4
        .grid.non-step(data-row='7', data-col='4') 1
        .grid.non-step(data-row='7', data-col='5') 9
        .grid(data-row='8', data-col='3')
            input.step
        .grid.non-step(data-row='8', data-col='4') 8
        .grid(data-row='8', data-col='5')
            input.step
    .row
        .grid.non-step(data-row='6', data-col='6') 2
        .grid.non-step(data-row='6', data-col='7') 8
        .grid(data-row='6', data-col='8')
            input.step
        .grid(data-row='7', data-col='6')
            input.step
        .grid(data-row='7', data-col='7')
            input.step
        .grid.non-step(data-row='7', data-col='8') 5
        .grid(data-row='8', data-col='6')
            input.step
        .grid.non-step(data-row='8', data-col='7') 7
        .grid.non-step(data-row='8', data-col='8') 9